.user-detail .container-fluid .header {
    text-align: center;
}

.user-detail .container-fluid {
    background-color: rgb(245, 243, 243);
    padding-bottom: 30px;
}
.user-detail .container-fluid .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.user-detail .container-fluid .col {
    padding-top: 30px;
}

.user-detail .container-fluid .col .card {
    width: 100%;
    border-color: rgb(212, 210, 210);
}

.row.user-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(11.5 * var(--bs-gutter-x));
}

.col-lg-4.user-col {
    flex: 0 0 auto;
    width: 25.333333%;
}

.shadow-lg.user-card {
    height: 100%;
    width: 85%;
}

img {

    height: 123px;
    margin-left: 64px;
}

.user_name {
    margin-left: 35px;
}

.user_email {
    margin-left: 38px;
}

ul {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .col-lg-4.user-col {
        flex: 0 0 auto;
        width: 49.666667%;
    }

    .row.user-row {
        --bs-gutter-x: 0.5rem;
        margin-right: calc(3.5 * var(--bs-gutter-x));
        margin-left: calc(3.5 * var(--bs-gutter-x));
    }

    .user_name h3 {
        margin-left: 23px;
    }

    .shadow-lg.user-card {
        height: 106%;
    }

    .user-detail .container-fluid .col .card {
        width: 90%;
    }

}

@media only screen and (max-width: 320px) {
    .col-lg-4.user-col {
        flex: 0 0 auto;
        width: 130.666667%;
    }

    .row.user-row {
        --bs-gutter-x: 0.5rem;
        margin-right: calc(3.5 * var(--bs-gutter-x));
        margin-left: calc(3.5 * var(--bs-gutter-x));
    }

    img {
        margin-left: 40px;
    }

    .user_name h3 {
        margin-left: 18px;
    }

    .user_email {
        margin-left: 22px;
    }

}